/* General Styles */
@font-face {
    font-family: 'BankGothicLight';
    src: url('public/assets/fonts/BankGothicLightRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ekster';
    src: url('public/assets/fonts/Ekster-Bold-BF63c7611da5ed4.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.top-bar {
    background-color: #0db4b2;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 20px;
    font-size: medium;
    font-weight: bold;
}

/* Slightly Centered Text */
.top-bar p {
    margin-left: 5px;
    text-align: center;
}
.social-icons {
    display: flex;
    gap: 20px;
    margin-right: 10px;
}

.social-icons a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: medium;
    text-decoration: none;
    color: black;
}
.icon{
    height: 25px;
    width: auto;
    fill: #0db4b2; /* Default fill color */
    transition: fill 0.3s ease-in-out;
}
.icon:hover {
    fill: #be5c33; /* Fill color changes on hover */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 30px;
    color: white;
}

.logo {
    height: 75px;
    width: auto;
    margin-left: 5px;
    padding-right: 75px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin-right: 5px;
}

nav ul li {
    position: relative;
}

/* Link Styling */
nav ul li a {
    font-size: medium;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    position: relative;
    display: inline-block;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.search-bar {
    display: flex;
    gap: 2px;
}

.search-bar input {
    padding: 5px 15px;
    font-size: 16px;
    width: 150px;
    height: 15px;
    border: black 1px solid;
    border-radius: 5px;
}
.search-bar input:focus{
    border:#0db4b2 1px solid;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    width: auto;
    height: 27px;
    background: #0db4b2;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.search-bar button:hover {
    background: #be5c33;
}
.search-icon{
    stroke: black;
    height: 20px;
    width: auto;
}

/* Hero Section */
.newsletter {
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 50px;
    background-color: #4b5da8;
    color: white;
}
.newsletter-text {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
}
.newsletter-form {
    display: flex;
    margin-right: 200px;
}

.subscribe-form input {
    padding: 5px 15px;
    font-size: 16px;
    width: 300px;
    height: 30px;
    border: black 1px solid;
    border-radius: 5px;
}
.subscribe-form input:focus{
    border:#0db4b2 1px solid;
}
.subscribe-form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #0db4b2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 40px;
    width: auto;
}

.subscribe-form button:hover {
    background-color: #e6b800;
}

.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.article {
    background: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.article img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
