<section class="form">
    <div class="container">
        <div class="contactInfo">
            <div>
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><img src="../public/assets/images/location.png" alt="locationIcon"></span>
                        <span>
                                    Shop No. GF-38 and 63, <br/>
                                    Sitaram Super Market,<br/>
                                    Guru Gobindsinhji Marg,<br/>
                                    Chhani, Vadodara, Gujarat 391740
                                </span>
                    </li>
                    <li>
                        <span><img src="../public/assets/images/mail.png" alt="emailIcon"></span>
                        <span>sales@mohann.com</span>
                    </li>
                    <li>
                        <span><img src="../public/assets/images/call.png" alt="phoneIcon"></span>
                        <span>+91-98795-99521</span>
                    </li>
                </ul>
            </div>
            <ul class="socialIcon">
                <li><a href="#"><img src="../public/assets/images/1.png" alt=""></a></li>
                <li><a href="#"><img src="../public/assets/images/2.png" alt=""></a></li>
                <li><a href="#"><img src="../public/assets/images/3.png" alt=""></a></li>
                <li><a href="#"><img src="../public/assets/images/4.png" alt=""></a></li>
                <li><a href="#"><img src="../public/assets/images/5.png" alt=""></a></li>
            </ul>
        </div>

        <div class="contactForm">
            <h2>Send a Message</h2>
            <div class="formBox">
                <div class="inputBox w50">
                    <input type="text" name="" id="Name" required>
                    <span>First Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="" id="Company" required>
                    <span>Company Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="email" name="" id="Email" required>
                    <span>Email</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="" id="Number" required>
                    <span>Mobile Number</span>
                </div>
                <div class="inputBox w100">
                    <textarea name="" id="message" required></textarea>
                    <span>Write Your Message Here.</span>
                </div>
                <div class="inputBox w100">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</section>