<section class="form">
    <div class="container">
        <div class="contactInfo">
            <div>
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><a><img src="../public/assets/images/location.png" alt="locationIcon"></a></span>
                        <span>
                            <h5>Registered Office & Unit I</h5>
                            Plot No. 387, GIDC Savli, Manjusar,
                            Dist Vadodara 391775, Gujarat India
                            <h5>Associated Unit II</h5>
                            Survey no.657/1,Vasad Sarsa Road,
                            Nr.Express Highway Over Bridge,
                            At Verakhadi, Anand <br>
                            388365, Gujarat, India<br>
                            (C/o ABG Engineering)
                        </span>
                    </li>
                    <li>
                        <span><img src="../public/assets/images/mail.png" alt="emailIcon"></span>
                        <span><b>sales@mohann.com</b></span>
                    </li>
                    <li>
                        <span><img src="../public/assets/images/call.png" alt="phoneIcon"></span>
                        <span><b>+91-875812 4554<br>
                            +91-875812 4554</b>
                        </span>
                    </li>
                </ul>
            </div>
            <ul class="socialIcon">
                <li><a href="#"><img src="../public/assets/images/1.png" alt=""></a></li>
                <li><a href="#"><img src="../public/assets/images/2.png" alt=""></a></li>
                <li><a href="#"><img src="../public/assets/images/3.png" alt=""></a></li>
                <li><a href="#"><img src="../public/assets/images/4.png" alt=""></a></li>
                <li><a href="#"><img src="../public/assets/images/5.png" alt=""></a></li>
            </ul>
        </div>

        <div class="contactForm">
            <h2>Send a Message</h2>
            <div class="formBox">
                <div class="inputBox w50">
                    <input type="text" name="" id="Name" required>
                    <span>First Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="" id="Company" required>
                    <span>Company Name</span>
                </div>
                <div class="inputBox w50">
                    <input type="email" name="" id="Email" required>
                    <span>Email</span>
                </div>
                <div class="inputBox w50">
                    <input type="text" name="" id="Number" required>
                    <span>Mobile Number</span>
                </div>
                <div class="inputBox w100">
                    <textarea name="" id="message" required></textarea>
                    <span>Write Your Message Here.</span>
                </div>
                <div class="inputBox w100">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </div>
    </div>
</section>