<div class="top-bar">
  <p>Celebrating 25 Years of Excellence</p>
  <div class="topBar-right">
    <!--<div class="search-row">
      <div class="search-bar">
        <input type="text" placeholder="Search...">
        <button>
          <img src="public/assets/icons/search.svg" alt="Search Icon" class="search-icon">
        </button>
      </div>
    </div>-->
    <div class="topBar-social-icons">
      <div>
        <a href="mailto:your_email@example.com" target="_blank">
          <i class="fa fa-envelope"></i>
        </a>
        <span class="contact-text">sales@mohann.com</span>
      </div>
      <div>
        <a href="https://wa.me/your_number" target="_blank">
          <i class="fa fa-whatsapp"></i>
        </a>
        <span class="contact-text">+91-875812 4554</span>
      </div>
      <div>
        <a href="tel:+1234567890" target="_blank">
          <i class="fa fa-phone"></i>
        </a>
        <span class="contact-text">+91-875812 4554</span>
      </div>
    </div>

  </div>
</div>